In [1]:
import pandas as pd

## creating an example df

In [15]:
data = {
    'name': ['Game A', 'Game B', 'Game C'],
    'category': ['1021,1030,1001', '1050,1030', '1001,1050']
}
df = pd.DataFrame(data)

In [16]:
df

     name        category
0  Game A  1021,1030,1001
1  Game B       1050,1030
2  Game C       1001,1050

In [11]:
unique_categories = []  # Start with an empty list

# Loop through each row to collect unique categories
for row in df['category']:
    for category in row.split(','):
        if category not in unique_categories:  # Ensure uniqueness
            unique_categories.append(category)

In [12]:
unique_categories

['1021', '1030', '1001', '1050']

## create columns for each category

In [6]:
# Step 3: Add a new column for each category and initialize with False as default
for category in unique_categories:
    df[category] = False

In [13]:
for index, row in df.iterrows():  #loop through each row
    categories = row['category'].split(',') #splitting the cat
    for category in categories:
        df.at[index, category] = True

In [14]:
df

     name        category   1030   1050   1021   1001
0  Game A  1021,1030,1001   True  False   True   True
1  Game B       1050,1030   True   True  False  False
2  Game C       1001,1050  False   True  False   True