In [1]:
# https://www.kaggle.com/datasets/mshepherd/board-games?select=bgg_Category.csv

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("../Data/bgg_GameType.csv")

df

    bgg_id             name
0     4415            Amiga
1     4420     Commodore 64
2     4664         War Game
3     4665  Children's Game
4     4666    Abstract Game
5     4667     Customizable
6     4781           Arcade
7     4976         Atari ST
8     5496         Thematic
9     5497    Strategy Game
10    5498       Party Game
11    5499      Family Game

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bgg_id  12 non-null     int64
 1   name    12 non-null     object
dtypes: int64(1), object(1)
memory usage: 324.0+ bytes

In [6]:
df.describe()

            bgg_id
count    12.000000
mean   4937.000000
std     438.709886
min    4415.000000
25%    4664.750000
50%    4724.000000
75%    5496.250000
max    5499.000000