In [1]:
# https://www.kaggle.com/datasets/mshepherd/board-games?select=bgg_Category.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/bgg_Category.csv")

df

    bgg_id               name
0     1001          Political
1     1002          Card Game
2     1008           Nautical
3     1009  Abstract Strategy
4     1010            Fantasy
..     ...                ...
79    2650  Aviation / Flight
80    2687      Fan Expansion
81    2710    Post-Napoleonic
82    2725      Pike and Shot
83    2726      Age of Reason

[84 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bgg_id  84 non-null     int64
 1   name    84 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [5]:
df.describe()

            bgg_id
count    84.000000
mean   1184.130952
std     431.313622
min    1001.000000
25%    1029.750000
50%    1051.500000
75%    1094.750000
max    2726.000000