In [1]:
# https://www.kaggle.com/datasets/mshepherd/board-games?select=bgg_Category.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/bgg_GameFamily.csv")

df

      bgg_id                                          name
0          1                            Admin: Test Family
1          2                             Game: Carcassonne
2          3                                   Game: Catan
3          4            Series: The Chicken Family of Zoch
4          5                                Game: Bohnanza
...      ...                                           ...
4823   80388  Series: Evolution of Airpower in World War 2
4824   80397   Series: Air War Book Games (Historic Wings)
4825   80399            Video Game Theme: Assassin's Creed
4826   80400           Video Game Theme: The Elder Scrolls
4827   80408   Digital Implementations: Boardible (Mobile)

[4828 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4828 entries, 0 to 4827
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bgg_id  4828 non-null   int64
 1   name    4828 non-null   object
dtypes: int64(1), object(1)
memory usage: 75.6+ KB

In [5]:
df.describe()

             bgg_id
count   4828.000000
mean   39356.027133
std    25735.609838
min        1.000000
25%    17027.750000
50%    39546.000000
75%    64229.500000
max    80408.000000