In [1]:
# https://www.kaggle.com/datasets/mshepherd/board-games?select=bgg_Category.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/bgg_Publisher.csv")

df

       bgg_id                                               name
0           2                                     Moskito Spiele
1           3                                   Rio Grande Games
2           4                                   (Self-Published)
3           5                            The Avalon Hill Game Co
4           6  Historien Spiele Galerie (Historien Spielegale...
...       ...                                                ...
24596   54159                                         HOUF Games
24597   54171                                       Trywin Games
24598   54183                                        Tukospar Oy
24599   54214                                        Singa Jogos
24600   54258                                        Pb box ehf.

[24601 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24601 entries, 0 to 24600
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bgg_id  24601 non-null  int64
 1   name    24601 non-null  object
dtypes: int64(1), object(1)
memory usage: 384.5+ KB

In [5]:
df.describe()

             bgg_id
count  24601.000000
mean   23615.839275
std    17368.362074
min        2.000000
25%     6887.000000
50%    22995.000000
75%    39760.000000
max    54258.000000