In [ ]:
# https://www.kaggle.com/datasets/mshepherd/board-games?select=bgg_Category.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/bgg_Mechanic.csv")

df

     bgg_id                   name
0      2001          Action Points
1      2002         Tile Placement
2      2003    Rock-Paper-Scissors
3      2004         Set Collection
4      2005          Stock Holding
..      ...                    ...
186    3100                   Tags
187    3101               Ordering
188    3102  Questions and Answers
189    3103         Resource Queue
190    3104         Neighbor Scope

[191 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bgg_id  191 non-null    int64
 1   name    191 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.1+ KB

In [5]:
df.describe()

            bgg_id
count   191.000000
mean   2706.303665
std     377.006788
min    2001.000000
25%    2680.500000
50%    2874.000000
75%    2947.500000
max    3104.000000