In [1]:
# https://www.kaggle.com/datasets/mshepherd/board-games?select=bgg_Category.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/bgg_Person.csv")

df

       bgg_id                name
0           1  Karl-Heinz Schmiel
1           2       Reiner Knizia
2           3        (Uncredited)
3           4         Sid Sackson
4           5        Jean du Poël
...       ...                 ...
52269  154426       Benno Thönelt
52270  154455    Guy-Roger Duvert
52271  154456    Benjamin Sjöberg
52272  154464          Joe Kepler
52273  154476   Pascal Einsweiler

[52274 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52274 entries, 0 to 52273
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bgg_id  52274 non-null  int64
 1   name    52274 non-null  object
dtypes: int64(1), object(1)
memory usage: 816.9+ KB

In [5]:
df.describe()

              bgg_id
count   52274.000000
mean    70705.831388
std     48364.120126
min         1.000000
25%     20804.250000
50%     72066.500000
75%    113637.750000
max    154476.000000