In [ ]:
# https://www.kaggle.com/datasets/joebeachcapital/board-games

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/ratings.csv")

df

,num,id,name,year,rank,average,bayes_average,users_rated,url,thumbnail
0,105,30549,Pandemic,2008,106,7.59,7.487,108975,/boardgame/30549/pandemic,https://cf.geekdo-images.com/S3ybV1LAp-8SnHIXL...
1,189,822,Carcassonne,2000,190,7.42,7.309,108738,/boardgame/822/carcassonne,https://cf.geekdo-images.com/okM0dq_bEXnbyQTOv...
2,428,13,Catan,1995,429,7.14,6.970,108024,/boardgame/13/catan,https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ...
3,72,68448,7 Wonders,2010,73,7.74,7.634,89982,/boardgame/68448/7-wonders,https://cf.geekdo-images.com/RvFVTEpnbb4NM7k0I...
4,103,36218,Dominion,2008,104,7.61,7.499,81561,/boardgame/36218/dominion,https://cf.geekdo-images.com/j6iQpZ4XkemZP07HN...
...,...,...,...,...,...,...,...,...,...,...
21826,12748,296892,Sacred Rites,2020,12749,7.37,5.531,30,/boardgame/296892/sacred-rites,https://cf.geekdo-images.com/d37HVSmlYM2ZQpaKD...
21827,15016,217378,BABEL,2016,15017,6.61,5.517,30,/boardgame/217378/babel,https://cf.geekdo-images.com/BDS9Ndm2gb8QyE-i1...
21828,19459,18063,Goldrush,1970,19460,5.00,5.488,30,/boardgame/18063/goldrush,https://cf.geekdo-images.com/NRIjTeX6AbdhOp-w1...
21829,17256,10052,Bongo Kongo,1989,17257,5.80,5.505,30,/boardgame/10052/bongo-kongo,https://cf.geekdo-images.com/EGOJ027F8r3Nln1r0...
21830,12768,165946,Green Beret: Vietnam,2015,12769,7.21,5.531,30,/boardgame/165946/green-beret-vietnam,https://cf.geekdo-images.com/UQYTdmJHe_s_EiIIu...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21831 entries, 0 to 21830
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   num            21831 non-null  int64
 1   id             21831 non-null  int64
 2   name           21831 non-null  object
 3   year           21831 non-null  int64
 4   rank           21831 non-null  int64
 5   average        21831 non-null  float64
 6   bayes_average  21831 non-null  float64
 7   users_rated    21831 non-null  int64
 8   url            21831 non-null  object
 9   thumbnail      21825 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 1.7+ MB

In [5]:
df.describe()

,num,id,year,rank,average,bayes_average,users_rated
count,21831.000000,21831.000000,21831.000000,21831.000000,21831.000000,21831.000000,21831.000000
mean,10915.000000,118144.784206,1987.440108,10916.000000,6.416960,5.682149,866.964134
std,6302.211199,105369.546237,193.510505,6302.211199,0.930267,0.364763,3679.821978
min,0.000000,1.000000,0.000000,1.000000,1.040000,0.000000,30.000000
25%,5457.500000,12308.500000,2001.000000,5458.500000,5.830000,5.510000,56.000000
50%,10915.000000,104994.000000,2011.000000,10916.000000,6.450000,5.545000,122.000000
75%,16372.500000,207219.000000,2017.000000,16373.500000,7.040000,5.674000,392.000000
max,21830.000000,350992.000000,3500.000000,21831.000000,9.570000,8.511000,108975.000000