In [ ]:
# Consoles released between 1976 and 2020.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/best-selling game consoles.csv")

df.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [4]:
df.describe()

       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

In [9]:
df["Console Name"].unique()

array(['PlayStation 2', 'Nintendo DS', 'Nintendo Switch', 'Game Boy',
       'Game Boy Color', 'PlayStation 4', 'PlayStation', 'Wii',
       'PlayStation 3', 'Xbox 360', 'Game Boy Advance',
       'PlayStation Portable', 'Nintendo 3DS', 'NES/Famicom', 'Xbox One',
       'SNES/Super Famicom', 'Game & Watch', 'Nintendo 64',
       'Sega Genesis/Mega Drive', 'PlayStation 5', 'Atari 2600', 'Xbox',
       'GameCube', 'Xbox Series X/S', 'Wii U', 'PlayStation Vita',
       'Sega Master System', 'Sega Game Gear', 'PC Engine/TurboGrafx-16',
       'Sega Saturn', 'Dreamcast', 'Master System(Brazilian variants)',
       'Dendy(Famiclone)', 'Super NES Classic Edition',
       'Famicom Disk System', 'NES Classic Edition', 'WonderSwan',
       'Sega Pico', 'Color TV-Game', 'Intellivision',
       'Mega Drive(Brazilian variants)', 'N-Gage', 'Sega CD',
       'ColecoVision', 'Magnavox Odyssey', 'PC Engine CD-ROM',
       'Atari 7800', 'Atari Lynx', 'Philips CD-i', 'Telstar',
       'Atari 5200'], dtype=object)

In [ ]:
df["Type"].unique()

array(['Home', 'Handheld', 'Hybrid', 'Dedicated', 'Home console add-on'],
      dtype=object)

In [8]:
df["Company"].unique()

array(['Sony', 'Nintendo', 'Microsoft', 'Sega', 'Atari',
       'NEC/Hudson Soft[note 6]', 'Tectoy', 'Micro Genius', 'Bandai',
       'Mattel', 'Nokia', 'Coleco', 'Magnavox/Philips', 'NEC', 'Philips'],
      dtype=object)

In [ ]:
df[]