In [ ]:
# Limited list of game released since 2001.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/Games-3.csv")

df

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,Dec-17,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,Nov-11,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,May-12,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,Nov-06,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,May-11,Action-adventure,Re-Logic,Re-Logic
...,...,...,...,...,...,...,...
170,Vietcong,1.0,Vietcong,Mar-03,Tactical shooter,Pterodon,Gathering of Developers
171,Warhammer Online: Age of Reckoning,1.0,Warhammer,Sep-08,MMORPG,Mythic Entertainment,Electronic Arts
172,Who Wants to Be a Millionaire?,1.0,NaN,Nov-99,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,Dec-94,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,Oct-01,Business simulation,Microsoft,Blue Fang Games

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       175 non-null    object
 1   Sales      175 non-null    float64
 2   Series     139 non-null    object
 3   Release    175 non-null    object
 4   Genre      175 non-null    object
 5   Developer  175 non-null    object
 6   Publisher  175 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.7+ KB

In [4]:
df.describe()

            Sales
count  175.000000
mean     3.141143
std      4.960513
min      1.000000
25%      1.000000
50%      1.500000
75%      3.000000
max     42.000000

In [5]:
df["Genre"].unique()

array(['Battle royale', 'Sandbox,\xa0survival', 'Action role-playing',
       'Sandbox', 'Action-adventure', 'MMORPG', 'First-person shooter',
       'Real-time strategy', 'Life simulation',
       'Construction and management simulation', 'Survival',
       'Turn-based strategy,\xa04X', 'Vehicle simulation',
       'Tactical shooter', 'City-building', 'God game', 'Educational',
       'Graphic adventure', 'City-building game', 'Turn-based strategy',
       'Adventure,\xa0puzzle', 'Role-playing game', 'Survival horror',
       'Computer role-playing game', 'Third-person shooter',
       'Racing game', 'Simulation', 'Fighting',
       'Action-adventure,\xa0roguelike', 'Action-adventure,\xa0stealth',
       'Compilation', 'RTS,\xa04X,\xa0Grand Strategy',
       'Third-person shooter,\xa0survival horror',
       'Action role-playing,\xa0hack and slash',
       'Action role-playing game', 'Maze,\xa0arcade',
       'Action-adventure,\xa0platformer', 'Action-adventure,\xa0Survival',
       'Point-and-click', 'Real-time tactics', 'Grand strategy',
       'Run and gun', 'Visual novel,\xa0adventure', 'Interactive movie',
       'Sports', 'Action', 'Sim racing',
       'Real-time strategy,\xa0grand strategy wargame', 'Metroidvania',
       'Business simulation', 'Graphic adventure,\xa0puzzle',
       'Amateur flight simulation', 'Platform', 'Adventure',
       "Beat 'em up,\xa0run-and-gun", 'Rail shooter',
       'Simulation,\xa0role-playing game', 'Puzzle',
       'Interactive fiction', 'Trivia game', 'Space combat simulation'],
      dtype=object)

In [6]:
df["Release"].min()

'Apr-01'