In [ ]:
# Games across platforms from 2000 until 2023.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/games_dataset.csv")

df

,Game Name,Genre,Platform,Release Year,User Rating
0,Sekiro: Shadows Die Twice,Sports,Nintendo Switch,2014,9.654719
1,Control,Puzzle,Nintendo Switch,2000,3.457386
2,Among Us,Strategy,Nintendo Switch,2007,5.367622
3,Call of Duty: Modern Warfare,Stealth,PlayStation,2005,1.240325
4,League of Legends,Simulation,PC,2021,3.535476
...,...,...,...,...,...
4995,The Legend of Zelda: Breath of the Wild,Sports,PC,2013,6.352838
4996,Assassin's Creed Valhalla,Stealth,Mobile,2020,1.852730
4997,Fall Guys: Ultimate Knockout,Sports,Mobile,2021,5.268067
4998,Borderlands 3,Platformer,Xbox,2018,4.558510
4999,Counter-Strike: Global Offensive,Action,PlayStation,2022,3.443231

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game Name     5000 non-null   object
 1   Genre         5000 non-null   object
 2   Platform      5000 non-null   object
 3   Release Year  5000 non-null   int64
 4   User Rating   5000 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 195.4+ KB

In [4]:
df.describe()

       Release Year  User Rating
count   5000.000000  5000.000000
mean    2011.375400     5.524913
std        6.943984     2.598429
min     2000.000000     1.005878
25%     2005.000000     3.260596
50%     2011.000000     5.574233
75%     2017.000000     7.802727
max     2023.000000     9.996196

In [5]:
df["Genre"].unique()

array(['Sports', 'Puzzle', 'Strategy', 'Stealth', 'Simulation', 'Shooter',
       'Adventure', 'Horror', 'Racing', 'Role-playing', 'Action',
       'Survival', 'Fighting', 'Platformer'], dtype=object)

In [6]:
df["Platform"].unique()

array(['Nintendo Switch', 'PlayStation', 'PC', 'Xbox', 'Mobile'],
      dtype=object)