In [ ]:
# Limited list of mobile games and ratings.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/ratings.csv")

df

            Game Name           Developer              Genre  Rating
0    Candy Crush Saga                King             Puzzle     4.6
1      Clash of Clans           Supercell           Strategy     4.5
2            Among Us          InnerSloth              Party     4.4
3          Pokémon GO             Niantic  Augmented Reality     4.3
4         PUBG Mobile       Tencent Games      Battle Royale     4.2
..                ...                 ...                ...     ...
96     Stardew Valley        ConcernedApe         Simulation     4.7
97              Hades    Supergiant Games             Action     4.9
98        Plague Inc.    Ndemic Creations           Strategy     4.5
99   Alto's Adventure  Noodlecake Studios     Endless Runner     4.7
100          The Room     Fireproof Games             Puzzle     4.8

[101 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Game Name  101 non-null    object
 1   Developer  101 non-null    object
 2   Genre      101 non-null    object
 3   Rating     101 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB

In [4]:
df.describe()

           Rating
count  101.000000
mean     4.398020
std      0.175488
min      4.100000
25%      4.300000
50%      4.400000
75%      4.500000
max      4.900000

In [5]:
df["Genre"].unique()

array(['Puzzle', 'Strategy', 'Party', 'Augmented Reality',
       'Battle Royale', 'Sandbox', 'Action RPG', 'Shooter',
       'Endless Runner', 'Arcade', 'Action', 'Racing', 'Sports', 'Card',
       'RPG', 'MOBA', 'Fighting', 'Simulation', 'Music', 'Adventure',
       'Horror', 'Clicker', 'Virtual Pet', 'Casual'], dtype=object)